@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

/* default style */
* {
    margin: 0;
}

.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

p, li {
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.text-color {
    color: rgb(255, 84, 0);
}

.gray-color {
    color: rgb(66, 66, 71);
}

/* Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 280px;
}

.logo img {
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.nav-options > li {
    list-style: none;
}

.nav-options > li > a {
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

/* banner */
.explore-your-travel {
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
}

.explore-container h3 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.explore-container p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}

.travel-input {
    margin-top: 2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);
}

input, select {
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.5);
}

.btn-primary {
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 84, 0);
    font-weight: 800;
}

/* popular section */
.popular-section {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; */
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.text-container p, 
.text-container li {
    font-size: 16px;
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.text-container p, 
.text-container li,
.text-container h3 {
    text-align: left;
} 

/* your destination */
.your-destination > h3 {
    width: 490px;
    height: 50px;
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: auto;
}
.your-destination > p {
    width: 643px;
    height: 52px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 24px auto;
}
.your-destination  img {
    width: 100%;
    height: 450px;
    filter: brightness(70%);
}
.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}
.row-2 {
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
}
.row-3 {
    grid-template-columns: 0.75fr 1.25fr;
}
.country-card {
    position: relative;
}
.country {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

/* why choose us section */
.why-choose-us > div > h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: rgb(19, 19, 24);
}
.why-choose-us > div > p {
    width: 673px;
    height: 52px;
    margin: 24px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(19, 19, 24, 0.7);
}
.card-box {
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.card-1, .card-2, .card-3 {
    width: 790px;
    height: 284px;
    padding: 32px 55px 32px 46px;
}
.card-box .card-1{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}
.card-box .card-2 {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}
.card-3 {
    margin: 30px auto;
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}
.card-1 img, .card-2 img, .card-3 img {
    margin-bottom: 20px;

}
.card-1 h4, .card-2 h4, .card-3 h4 {
    margin-bottom: 20px;
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
} 
.card-1 p, .card-2 p, .card-3 p {
    width: 550px;
    text-align: left;
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Deals & Discounts */
.deals-discount > div > h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}
.deals-discount > div > p{
    width: 663px;
    height: 52px;
    margin: 24px auto;
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* footer section */
.footer-section {
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}

.footer-section .logo {
    margin: 2rem auto;
}

.social {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.social i {
    height: 44px;
    font-size: 23px;
}

.footer-section hr {
    margin: 2rem auto;
}